* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: rgba(113, 128, 224, 0.745);
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out;
}

.sidebar.open {
  right: 0;
}
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 70px;
  transition: .4s ease;
}
.close-btn:hover{
  rotate: 90deg;
}
.cartList{
  list-style: none;
  width: 100%;
  margin-left: 220px;
  display: block;
}
.cartLi{
  display: block;
  font-family: sans-serif;
  margin: 20px 0;

}
.productCartBtn{
  padding: 5px 10px;
  background-color: aliceblue;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  font-family: sans-serif;
  transition: .3s ease;
  cursor: pointer;
}
.productCartBtn:hover{
  background-color: black;
  color: white;
}
.totalPrice{
  font-family: sans-serif;
  margin-left: 20px;
}